{% extends 'base.html' %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success">{{ message }}</div>
        {% endif %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
    {% endfor %}
  {% endif %}
  <div class="article-container container">
    {% for post in posts %}
      <div class="card my-3">
        <div class="row no-gutters">
          <div class="main-box col-md-12">
            <div class="card-body">
              <div class="card-body-main">
                <h4 class="card-title font-weight-bold">{{post.title}}</h4>
                <p class="card-text">{{post.body}}</p>
              </div>
              <div class="card-body-sub d-flex justify-content-between align-items-end">
                <div class="card-info col-5 px-0">
                  <span class="card-source text-muted text-truncate mr-2">{{post.author.username}}</span>
                  <span class="card-date text-muted">{{ post.publish_at|date:"Y-m-j H:i"}}</span>
                </div>
                <div class="card-buttons">
                  <a href="" class="btn btn-outline-primary ml-1">続きを読む</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
