<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
 
     <!-- 一番初めに戻る(<<) -->
     <li class="page-item">
         <a class="page-link" href="?p=1" aria-label="Top">
            <span aria-hidden="true">&laquo;</span>
         </a>
     </li>
 
     <!-- 前に戻る(<) -->
      {% if page_active|add:"-1" > 0 %}
         <li class="page-item">
             <a class="page-link" href="?p={{ page_active|add:"-1" }}" aria-label="Previous">
                <span aria-hidden="true"><</span>
             </a>
        </li>
      {% endif %}

    <!-- 数字列(1,2,3...) -->
    {% for anc in page%}
        {% if page_active == anc %}
            <li class="page-item active"><a class="page-link" href="?p={{ anc }}">{{anc}}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?p={{ anc }}">{{anc}}</a></li>
        {% endif %}
    {% endfor %}
 
    <!-- 次に進む(>) -->
    {% if page_active|add:"1" <= page_last %}
        <li class="page-item">
          <a class="page-link" href="?p={{ page_active|add:"1" }}" aria-label="Next">
            <span aria-hidden="true">></span>
          </a>
        </li>
    {% endif %}
 
    <!-- 一番最後に進む(>>) -->
    <li class="page-item">
      <a class="page-link" href="?p={{page_last}}" aria-label="Last">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>