<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm py-0">
  <button class="navbar-toggler mr-0 ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav w-100 nav-justified font-weight-bold">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'news_index' str='business' %}">ビジネス</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'news_index' str='technology' %}">技術</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'news_index' str='science' %}">科学</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'qiita_index' %}">Qiita</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'scraping_index' %}">Yahoo!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'post_index' %}">投稿記事</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'stock_index' %}">ストック</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

{% if messages %}
  {% for message in messages %}
      {% if message.tags == 'success' %}
      <div class="alert alert-success">{{ message }}</div>
      {% endif %}
      {% if message.tags == 'error' %}
      <div class="alert alert-danger">{{ message }}</div>
      {% endif %}
  {% endfor %}
{% endif %}
